
@{
    ViewBag.Title = "Home";        
}

<!DOCTYPE html>
<html lang="en" ng-app="homeApp">
<head>
    <!-- angular -->
    <script src="/node_modules/angular/angular.js"></script>
    <script src="~/Scripts/Home/app.js"></script>
    <script src="~/Scripts/Home/home-controller.js"></script>
    <script src="~/Scripts/Home/home-service.js"></script>
    <script src="/node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="/node_modules/handsontable/dist/handsontable.full.js"></script>
    <script src="/node_modules/ng-handsontable/dist/ngHandsontable.js"></script>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/lodash/lodash.js"></script>
    <!-- ui-select files -->
    <script src="/node_modules/ui-select/dist/select.js"></script>
    <link rel="stylesheet" href="/node_modules/ui-select/dist/select.css">

    <!-- themes -->
    <link rel="stylesheet" href="~/Content/selectize.default.css">

    <!-- hot css -->
    <link rel="stylesheet" media="screen" href="/node_modules/handsontable/dist/handsontable.full.css">
    <link rel="stylesheet" href="~/Content/common.css">
</head>

<body class="ng-cloak" ng-controller="homeController">
    <div style="padding-top: 50px;"></div>

    <h3>Editor</h3>
    
    <div ng-show="validationResult" class="error-container">
        <h5 class="error-header">Please fix below errors:</h5>
        <h5 class="error-text" style="white-space: pre;">{{validationResult}}</h5>
    </div>
    <div class="row">
        <div class="col-md-3 z-index-105">
            <ui-select ng-model="culture.selected" theme="selectize" style="width: 300px;" title="Choose a culture" on-select="getTranslation()">
                <ui-select-match placeholder="Select or search a culture in the list...">{{$select.selected.DisplayName}}</ui-select-match>
                <ui-select-choices repeat="culture in cultures | filter: $select.search">
                    <span ng-bind-html="culture.DisplayName | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-8 margin-left-30">
            <div ng-if="!showFileUploaderDiv">
                <button class="btn btn-success margin-left-30" ng-click="save()">Save</button>
                <button class="btn btn-primary margin-left-30" ng-click="generateReport(false)">Export Excel</button>
                <button class="btn btn-primary margin-left-30" ng-click="generateReport(true)">Export JSON</button>
                <button class="btn btn-primary margin-left-30" ng-click="showFileUploader()">Import Excel</button>
            </div>
            <div ng-if="showFileUploaderDiv" id="fileUploader">
                <input class="col-md-7 btn btn-info margin-left-30" type="file" id="file1" name="file" ng-files="getTheFiles($files)" />
                <button class="btn btn-success margin-left-30" ng-click="uploadFiles()">Upload</button>
                <button class="btn btn-primary margin-left-30" ng-click="cancelUpload()">Cancel</button>
            </div>
        </div>
    </div>    

    <div style="padding-top: 50px;"></div>
    <center><h4 ng-show="culture.selected != null">{{culture.selected.DisplayName}} ( {{culture.selected.CultureName}} )</h4></center>
    <hot-table hot-id="translation-table"
               settings="settings"
               row-headers="rowHeaders"
               col-headers="colHeaders"
               datarows="data">
    </hot-table>
</body>
</html>


